.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
.DS_Store
.Rbuildignore
src/*.o
src/*.so
src/*.dll
vignettes/*.tex
vignettes/*.bbl
vignettes/*.log
vignettes/*.pdf
vignettes/*.toc
vignettes/*.gz
*.swo
*.swp